.add_post {
    max-width: 300px;
    margin-left: 500px;
    margin-top: 200px;
  }

  .addpost-form-button {
    width: 50%;
    margin-right: 200px;
  }
  .logout{
    margin-right:500px;
    margin-top: 500px;
}